.Navigation {
    background-color: pink;
    height: 50px;
}

.BottomElements {
    border: 1px black solid;
    height: auto;
    display: flex;
    flex-direction: row;
}

.ProductList {
    background-color: aquamarine;
    height: auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    row-gap: 1%;
    column-gap: 1%;
    flex-flow: wrap;
}

.Basket {
    background-color: yellow;
    height: auto;
    width: 25%;
    padding: 1%;
}

.Product {
    height: auto;
    width: 26%;
    background-color: white;
    margin: 1%;
    padding: 2%;
}
